@import '../_variables.sass';

.back {
  font-family: 'Montserrat', sans-serif;
  color: $light;
  text-transform: uppercase;
  position: relative;
  line-height: 1.5;
  padding: 12px 0;
  display: block;

  svg {
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    top: -2px;
    position: relative;

    path {
      fill: $light;
    }
  }
}
