@import '../_variables.sass';

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 30vh;
  max-height: 200px;
  overflow: hidden;
  z-index: 11;

  @include from($lg) {
    height: 40vh;
    max-height: 400px;
  }

  video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &::-webkit-media-controls {
      display: none;
    }
  }

  svg {
    /* pointer-events: none; */
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    transition: filter 2s ease-in;

    @include from($lg) {
      max-width: 80%;
    }

    filter: blur(15px);
    width: calc(100% - 48px);
    height: auto;
    mix-blend-mode: color-dodge;

    path {
      fill: white;
      transition: fill 3.5s ease;
      transition-delay: 2s;
    }
  }
}

.showLogo {
  svg {
    filter: blur(0px);

    path {
      fill: gray;
    }
  }
}

.section {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  text-align: center;
  background: rgba($dark, 0.85);
  z-index: 10;
  padding-top: 19px;
  margin-top: -60px;

  @include from($lg) {
    height: 100px;
    margin-top: -100px;
  }

  &:after {
    height: 112px;
  }

  svg {
    width: 200px;
    height: 32px;

    path {
      fill: $light;
    }

    @include from($lg) {
      width: 300px;
      height: 64px;
    }
  }
}
