@import '../_variables.sass';

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 20vh;
  overflow: hidden;

  @include until($lg) {
    height: 30vh;
    max-height: 200px;
  }

  video {
    width: 100%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    top: 50%;
    left: 50%;
  }

  svg {
    /* pointer-events: none; */
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    transition: filter 2s ease-in;

    filter: blur(15px);
    width: calc(100% - 48px);
    height: auto;
    mix-blend-mode: color-dodge;

    path {
      fill: white;
      transition: fill 3.5s ease;
      transition-delay: 2s;
    }
  }
}

.showLogo {
  svg {
    filter: blur(0px);

    path {
      fill: gray;
    }
  }
}
