.wrapper {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 20vh;
  overflow: hidden;

  @media (min-width: $breakpointSmMin) {
    height: 30vh;
  }

  @media (min-width: $breakpointLgMin) {
    height: 40vh;
  }

  video {
    height: 100%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    top: 50%;
    left: 50%;

    @media (min-width: $breakpointSmMin) {
      height: initial;
      width: 100%;
    }
  }

  svg {
    /* pointer-events: none; */
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    transition: filter 2s ease-in;

    filter: blur(75px);
    width: calc(100% - 48px);
    height: auto;
    mix-blend-mode: difference;

    path {
      fill: #0AE606;
      transition: fill 3.5s ease;
      transition-delay: 2s;
    }
  }
}

.showLogo {
  svg {
    filter: blur(0px);

    path {
      fill: yellow;
    }
  }
}
