.card {
  position: absolute;
  top: 10%;
  right: 32px;
  overflow: hidden;
  margin-top: -420px;
  width: 320px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
  z-index: 100;
}
.light {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 60%);
}
.layer {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: 0.1s;
}
.layer1 {
  composes: layer;
  background: linear-gradient(#333, #000);
}
.layer2 {
  composes: layer;
  background-image: url(/images/card3d/logo/2.png);
}
.layer3 {
  composes: layer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/images/card3d/logo/3.png);
}
.layer4 {
  composes: layer;
  background-image: url(/images/card3d/logo/4.png);
}
.layer5 {
  composes: layer;
  background-image: url(/images/card3d/logo/5.png);
}