.shared {
  background: $colorBg;
  position: fixed;
  top: 0;
  pointer-events: none;
  transition: height 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.section {
  composes: shared;
  z-index: 100;
  height: 100px;
  width: 100%;

  a {
    pointer-events: all;
    display: inline-block;
    width: 48px;
    height: 48px;
  }

  svg {
    transform: scale(.45);
    transform-origin: top left;

    path {
      fill: $colorFg;
    }
  }
}

.tiny {
  height: 130px;
}