.withBg {
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: $colorBg;
    z-index: -1;
  }
}

.section {
  composes: withBg;
  position: sticky;
  top: 0;
  height: 0;
  width: 100%;
  text-align: center;
  background: $colorBg;

  &:after {
    height: 112px;
  }

  svg {
    width: 200px;
    height: 32px;

    path {
      fill: $colorFg;
    }

    @media (min-width: $breakpointMdMin) {
      width: 300px;
      height: 64px;
    }
  }
}

.navigation {
  position: sticky;
  top: 64px;
  margin: 24px auto 64px;
  text-align: justify;
  width: calc(100% - 48px);
  max-width: 600px;
}

.link {
  margin-left: 9px;
  text-decoration: none;
  background: rgba(33, 33, 33, .6);
  color: rgba(255, 255, 255, .6);
  font-size: .8rem;
  position: relative;
  letter-spacing: 2px;
  transition: all 500ms ease;
  transition-delay: 100ms;

  @media (min-width: $breakpointSmMin) {
    font-size: 1.2rem;
  }

  @media (min-width: $breakpointMdMin) {
    font-size: 1.4rem;
  }

  @media (min-width: $breakpointXlMin) {
    font-size: 1.6rem;
  }

  &:first-of-type {
    margin-left: 0;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -12px;
    left: 0;
    height: 4px;
    width: 100%;
    background: rgba(255, 255, 255, .1);
    transition: background 500ms ease;
  }

  &:hover {
    background: rgba(88, 88, 88, .9);
    color: rgba(255, 255, 255, .8);
    &::after {
      background: rgba(255, 255, 255, .5);
    }
  }
}

.activeLink {
  cursor: default;
  background: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  &::after {
    background: rgba(255, 255, 255, .9);
  }
}

.sticky {
  transform: translateY(0);
}