@import '../../components/_variables.sass';

.table {
  width: 100%;

  small {
    line-height: 1;
    display: inline-block;
    opacity: 0.75;
    font-size: 0.75rem;
  }

  th {
    text-align: right;
    letter-spacing: 1px;
    padding-right: 6px;
  }

  td {
    text-align: left;
    padding-left: 6px;
  }

  th,
  td {
    line-height: 2.6;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid $grey;
  }

  a {
    color: #c386b6;
  }
}
